<!DOCTYPE html>
<html>

<head>
    <title>Input Pengguna</title>
</head>

<body>
    <h2>Form Data Pengguna</h2>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label>Nama:</label><br>
        <input type="text" name="name" required><br>
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        <label>Foto Profil:</label><br>
        <input type="file" name="photo" accept="image/*"><br><br>
        <button type="submit">Simpan</button>
    </form>
    <a href="/users">Lihat Data</a>
</body>

</html>